@import url(/admin/assets/css/globalAdmin.css);

/* Título da Página */
.tituloBanner {
  font-size: 2rem;
  color: var(--vermelho);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.paragrafoBanner {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.aviso {
  text-transform: uppercase;
  color: var(--vermelho);
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.banner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.banner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.banner-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.banner-placeholder button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.banner-placeholder:hover {
  background-color: #218838;
}

.banner-image {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.banner-alt-text {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
}

.banner-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.banner-actions button {
  flex: 1;
}

.btn-adicionar {
  background: var(--vermelho);
  color: var(--branco);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 100%;
}

#bannerForm {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#bannerForm label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

#bannerForm input,
#bannerForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bannerForm button {
  background: var(--vermelho);
  color: var(--branco);
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#bannerForm button:hover {
  background: #b9302e;
}
